* {
    margin:0;
    padding:0;
}

html, body {
    width: 100%; 
    height: 100%; 
}

h1 {
    display:flex;
    justify-content:center;
}

    /*  NAV BAR */

#top-nav {
    background-color: rgb(195, 253, 177)
}

#top-nav ul {
    display: flex;
    justify-content: center;
}

#top-nav ul li {
    list-style: none;
}

#top-nav ul li a {
    display: block; 
    padding: 1em; 
    color:rgb(2, 56, 20);
    transition: all 0.5s;
}

#top-nav ul li a:hover {
    background-color:rgb(242, 255, 238);
    color:rgb(153, 53, 160);
}

/* MAIN */

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* FOOTER */

footer {
    background-color:rgb(195, 253, 177);
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    list-style: none;
}


footer ul li a {
    display: block;
    padding: 1em;
    color:rgb(2, 56, 20);
    transition: all 0.5s;
}

footer ul li a:hover {
    background-color:rgb(242, 255, 238);
    color:rgb(153, 53, 160);
}